# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs diff=csharp
*.sln merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.docx diff=astextplain
*.DOCX diff=astextplain
*.xlsx diff=astextplain
*.XLSX diff=astextplain
*.pptx diff=astextplain
*.PPTX diff=astextplain

# Markdown files
*.md text=auto eol=lf

# JavaScript files
*.js text=auto eol=lf

# JSON files
*.json text=auto eol=lf

# HTML files
*.html text=auto eol=lf

# CSS files
*.css text=auto eol=lf

# Image files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text=auto eol=lf